*{
    margin: 0%;
    padding: 0px;
   
}
/* --------styles sheets ----------- */




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* --------styles sheets ----------- */






/* ----------common styles------------- */
body{

    font-family: 'Poppins', sans-serif;
}
/* ----------common styles------------- */



/* ------header styles------ */
header{
    padding: 40px 140px;
    background-color:#6143e6;
   
}

nav{
    display: flex;
    justify-content: space-between;
   
    background: #6143e6;
    
   
  
}
.nav-bar{
  padding: 10px 0px;
}
.nav-bar ol{
    list-style: none;
    display: flex;
}
.nav-bar ol li{
    color: whitesmoke;
    font-size: 16px;
    margin-left: 36px;
    font-weight: 500;
}
.log-in-button{
    background-color: #E02C6D
    ;
    font-size: 16px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.log-in-button a{
    text-decoration: none;
    color: white;
}
span{
    margin-right:;
}
.top-heading{
    display: flex;
 
   
}
.heading{
    margin-left: 30px;
    margin-top: 121px;
}
.heading h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: whitesmoke;
    margin-bottom: 27px;
}
.live-button{
    
    margin-top: 25px;
   
    background-color: #E02C6D
    ;
    width: 168px;
    height: 44px;
   
   
    
}
.live-button a{
    width: 100px;
    height: 4px;
    text-decoration: none;
    color: whitesmoke;
    text-align:center;
    font-size: 16px;
    padding: 20px 24px;
    background-color: #E02C6D
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-img{
    margin-top: 65px;
    margin-left: 300px;
    margin-bottom: 80px;
    
    
}
.heading-img img{
    width: 555px;
    height: 440px;
    transition: 5s;
}

.heading-img:hover .banner{
    transform: scale(1.5);
   
   
    transition:ease-in-out
}

/* ------header styles------ */

/* =-----------------main------------- */
main{
    padding:70px 180px ;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player{

    
    padding: 15px;
    box-shadow: 2px 2px 2px 5px whitesmoke;
    margin-left: 10px;
    margin-right: 20px;
}
.player img{
    width: 300px;
    height: 250px;
    margin-bottom: 16px;
}
.player-name{
    font-size: 22px;
    margin-bottom: 10px;
}
.player p{
    font-size: 16px;
    text-align:;
    
}



/* =-----------------main------------- */

/* ---------highlights section -------- */
.highlights{
    display: flex;
    margin-top: 150px;
    margin-left: 20px;
    justify-content: space-between;
}
.highlight{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 60px;
}
.highlight h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px; 
}
.highlight-about{
    width: 404px;
    height: 113px;
}
.highlight-about p{
    font-size: 16px;
    color: gray;
}
.highlight-img img{
    width: 550px;
    height: 430px;
}



/* ---------highlights section -------- */


/*------- footer-section ------------- */
footer{
    width: 480px;
    height: 215px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.logo-img img{
    width: 450px;
    margin-bottom: 20px;
}
.social-media{
   margin: auto;
}
.social-media ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.social-media ul li{
    text-align: center;
    font-size: 18px;
    width: 25px;
    height: 20px;
    background-color: gray;
    border-radius: 30%;
    margin-left: 10px;
}
footer p{
    font-size: 18px;
}


/*------- footer-section ------------- */



/* --------media queries------- */
/* For desktop: */


