*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
/* --------styles sheets ----------- */




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* --------styles sheets ----------- */






/* ----------common styles------------- */
body{

    font-family: 'Poppins', sans-serif;
}
/* ----------common styles------------- */



/* ------header styles------ */

header{
    background: #6143e6;
    padding: 0 190px;
    padding-top: 43px;
    width: 100%;
    height: fit-content;

    
   
}
nav{
    display: flex;
    justify-content: space-between;
   
    background: #6143e6;
    
   
  
}
.nav-bar{
  padding: 10px 0px;
}
.nav-bar ol{
    list-style: none;
    display: flex;
}
.nav-bar ol li{
    color: whitesmoke;
    font-size: 16px;
    margin-left: 36px;
}
.log-in-button{
    background-color: #E02C6D
    ;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in-button a{
    text-decoration: none;
    color: white;
}
span{
    margin-right: 8px;
}
.top-heading{
    display: flex;
 
   
}
.heading{
    margin-left: 30px;
    margin-top: 121px;
}
.heading h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: whitesmoke;
}
.live-button{
    margin-top: 25px;
    width: 168px;
    height: 44px;
    background-color: #E02C6D
    ;
    padding: 10px 24px;
    
}
.live-button a{
    text-decoration: none;
    color: whitesmoke;
}
.heading-img{
    margin-top: 65px;
    margin-left: 250px;
    margin-bottom: 85px;
    
    
}
@keyframes football {
    0%{
        top: 0;
        left: 0px;
    }
    50%{
        top: 20px;
        left: 10px;
        
        transform: translate(10%);
    }
    100%{
        top: 0;
        left: 0;
    }
    
}
.heading-img img{
    width: 500px;
    height: 438px;
    transition: 10s;
    animation: football 10s linear 3s infinite forwards ;
}

/* ------header styles------ */

/* =-----------------main------------- */
main{
    padding:70px 150px ;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}
.player{

    
    padding: 15px;
    box-shadow: 2px 2px 2px 5px whitesmoke;
    margin-left: 30px;
}
.player img{
    width: 300px;
    height: 250px;
    margin-bottom: 16px;
}
.player-name{
    font-size: 22px;
    margin-bottom: 10px;
}
.player p{
    font-size: 16px;
    text-align: center;
    
}



/* =-----------------main------------- */

/* ---------highlights section -------- */
.highlights{
    display: flex;
    margin-top: 150px;
    margin-left: 20px;
    justify-content: space-between;
}
.highlight{
    margin-top: 50px;
    margin-left: 30px;
}
.highlight h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px; 
}
.highlight-about{
    width: 404px;
    height: 113px;
}
.highlight-about p{
    font-size: 16px;
    color: gray;
}
.highlight-img img{
    width: 550px;
    height: 430px;
}



/* ---------highlights section -------- */


/*------- footer-section ------------- */
footer{
    width: 480px;
    height: 215px;
    margin: auto;
    text-align: center;
}

.logo-img img{
    width: 480px;
    margin-bottom: 20px;
}
.social-media{
   margin: auto;
}
.social-media ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.social-media ul li{
    text-align: center;
    font-size: 18px;
    width: 25px;
    height: 20px;
    background-color: gray;
    border-radius: 30%;
    margin-left: 10px;
}
footer p{
    font-size: 18px;
}


/*------- footer-section ------------- */



/* --------media queries------- */
/* For desktop: */



/* for mobile */
@media only screen and (max-width: 700px){
    
 header{
     background: #6143e6;
        padding: 10px 10px;
        padding-top: px;
        width: 100%;
        height: fit-content;
        height: 500px;
        }
    
.nav-bar ol li{
            color: whitesmoke;
            font-size: 12px;
            margin-left: 8px;
        }
.log-in-button{
            background-color: #E02C6D
            ;
            font-size: 8px;
            padding: 2px 2px;
            text-align: center;
            margin-left: 2px;
        }
  .top-heading{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
     
      position: relative;
      justify-content: space-between;
      
    
      padding: 0 5px;
  }
  .live-button{
      padding: 5px;
      font-size: 10px;
      width: 48px;
        height: 30px;
        
  }
  .heading h1{
      font-size: 35px;
      
      
  }
 
  .heading-img img{
      margin-top: -500px;
      width: 200px;
      margin-left: 20px;
      height: 300px;
      
  }
  @keyframes football {
    0%{
        top: 0;
        left: 0px;
    }
    
    100%{
        top: 0;
        left: 0;
    }
    
}
  main{
    padding:20px 20px ;
}
  .container{
      padding: 10px 20px;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 0px;
     
  }
  .highlights{
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
    flex-direction: column;
    
}
.highlight h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px; 
    margin-bottom: 10px;
}
.highlight-about{
    width: 300px;
    height: 113px;
}
.live-button{
    margin-bottom: 10px;
}
.highlight-img img{
    width: 350px;
    height: 300px;
}
.logo-img img{
    position: fixed;
    margin-top: 100px;
    width: 350px;
    margin-bottom: 20px;
   
}


footer p{
    font-size: 14px;
}
         
}









/* for mobile */
